<div style="padding: 0 10% 0 10%">
  <br><br>
  Pagina Principal
  <br><br>
  <mat-card-content>
    <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
    <p *ngIf="!loading">Cambiando</p>
  </mat-card-content>
  <div class="contenedor">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
      <br>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="oldPass" type="password" placeholder="Contraseña actual">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="newPassword" type="password" placeholder="Contraseña Nueva">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="newPasswordConfirm" type="password" placeholder="Confirmar Contraseña">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" [disabled]="!changePassForm.valid || disableSubmit">Cambiar</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

</div>
