<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">commute</mat-icon>
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/page/example']">
            <mat-icon class="sidenav-icon">home</mat-icon>
        </a>
    </mat-nav-list>
</div>
