<div *ngIf="notification" class="notification bg-{{notification.type}}" role="notification">
    <span *ngIf="notification.closable" class="closebtn">&times;</span>
    <i class="material-icons md-36">{{notification.icon}}</i>
    <strong>{{notification.textBold}}</strong> {{notification.textNormal}}
</div>