<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav">
  <mat-toolbar color="primary">SB Admin Marerial</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashbard
            </a>
            <a mat-list-item>
                <mat-icon class="sidenav-icon">add</mat-icon> Menu
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="fix-nav">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <mat-icon class="nav-icon">menu</mat-icon>
            <span class="nav-spacer"></span>
            <a class="topnav-icon" [routerLink]="['/login']">
                <mat-icon>exit_to_app</mat-icon>
            </a>

        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
