<div class="login-container">
  <mat-card style="width: 468px">
    <mat-card-title style="padding-top: 20px"><b>Bienvenido</b></mat-card-title>
    <mat-card-content>
      <div style="padding: 20px 24px 24px 24px">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="Nombre de usuario" formControlName="userName">
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <div class="opt">
            <div>
              <mat-checkbox color="primary">Recordarme</mat-checkbox>
            </div>
          </div>
          <button mat-raised-button color="primary" [disabled]="!userForm.valid || disableSubmit">Entrar</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
